<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New chat</title>
  </head>
  <body>
    <h1>Write new chat...</h1>
    <form method="post" action="/chat">
      <label for="from"></label>
      <input type="text" placeholder="who are you" name="from" />
      <br />
      <br />
      <label for="to"></label>
      <input type="text" placeholder="add reviever" name="to" />
      <br />
      <br />
      <textarea
        name="msg"
        cols="30"
        rows="10"
        placeholder="write mesage"
      ></textarea>
      <br /><br />
      <button>Create chat</button>
    </form>
  </body>
</html>
